        /* Style for the coin and container */
        #container {
            text-align: center;
        }
        #number {
            text-align: center;
            justify-content: center;
            color: white;
            -webkit-text-stroke: 1px black;
            font-size: 72px;
            font-family:sans-serif
            
        }
        img {
          user-select: none; /* This will make the image unselectable */
          outline: none; /* This will remove the blue outline */
      }
      .unselectable {
        user-select: none;
        outline: none;
    }
    .unselectable {
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      outline: none;
  }
        #coin {
            width: 400px;
            height: auto;
            cursor: pointer;
            transition: transform 0.2s ease; /* Add a smooth transition effect */
        background-color: transparent;
            -webkit-user-drag: none;
            user-select: none; /* This makes the text and images unselectable */
          outline: none; 
          border-radius: 0px;
          border: none;
            -moz-user-select: none;
             -webkit-user-select: none;
            -ms-user-select: none;
            -webkit-tap-highlight-color: transparent;
            
        }

        #coin.clicked {
          -webkit-tap-highlight-color: transparent;
            transform: scale(1.1); /* Enlarge the coin when clicked */
        }
        body {
          background-image: url("background1.jpg");
          background-size:600px;
          
          
         }
        .upgrade{
        
            max-width: fit-content;
            margin: auto;
        }
        @font-face {
          font-family: arcade;
          src: url(8-bit\ Arcade\ In.ttf);
        }
        #upgradePrice{
          font-size: 35px;
          font-family: arcade;
          text-align: center;
          color: white;
          -webkit-text-stroke: 1px;
          -webkit-text-stroke-color: black;
        }
        .upgrade {
            background:transparent;
            margin: auto;
            border-radius: 10%;
            width: auto;
            height: 100px;
            border-color: azure;
            padding: 0px;
            
            
           
            text-align: center;
           transition: background 0.3s ease-in-out;
          }

          
          .upgrade:active {
            background: rgb(253, 250, 255);
            transform: scale(0.95);
          }
          
          
          
          .upgrade-text {
            font-size: 3px;
          }
          @font-face {
            font-family: arcade2;
            src: url(Crang.ttf);
          }
          #number{
            font-family: arcade2;
          }
          
